.zov {
    font-size: 30px;
    background-color: red;
    text-align: center;
}
.c63 {
    font-size: 20px;
    background-color: red;
    text-align: center;
}
.c63amg {
    font-size: 20px;
    background-color: red;
    text-align: center;
}
.fly {
    font-size: 20px;
    background-color: red;
    text-align: center;
}
.sound {
    font-size: 20px;
    background-color: red;
    text-align: center;
}

.ahmed {
    width: 1500px;
    height: 500px;
}
.rain {
    width: 500;
    height: 300;
}
.shkoda {
    width: 1500;
    height: 500;
    background-color: black;
}
.wrum {

}